footer {
  background-color: color(primary-dark);
  padding-top: 40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  .detail {
    display: flex;
    @include respond-down(sm) {
      flex-direction: column;
      padding-left: 8.5px;
      padding-right: 8.5px;
    }
    .map-location {
      width: 23%;
      img {
        width: 100%;
        object-fit: cover;
      }
      @include respond-down(sm) {
        display: none;
      }
    }
    .location-detail {
      flex: 1;

      &__block {
        margin-bottom: 140px;
        display: flex;
        @include respond-down(lg) {
          flex-wrap: wrap;
          margin-bottom: 42px;
        }
        .location-item {
          width: 40%;
          color: white;
          padding-left: 32px;
          padding-right: 32px;
          @include respond-down(lg) {
            width: 100%;
            margin-bottom: 24px;
          }
          @include respond-down(sm) {
            padding-left: 0;
          }
          &:not(:first-child) {
            margin-left: 10%;
            @include respond-down(lg) {
              margin-left: 0;
            }
          }
          .title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            color: color(primary);
            margin-bottom: 24px;
          }
          .detail-item {
            margin-bottom: 16px;
            display: flex;
            align-items: flex-start;
            img {
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
  .footer__bottom {
    background-color: #0d0d28;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 24px;
    .detail {
      display: flex;
      justify-content: space-between;
      color: white;
      font-size: 13px;
      @include respond-down(sm) {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
      }

      ul {
        display: flex;
        align-items: center;
        @include respond-down(sm) {
          justify-content: center;
          margin-bottom: 16px;
        }
        li {
          margin-left: 32px;
        }
      }
    }
  }
}

#top {
  position: fixed;
  bottom: 56px;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: 1px solid color(primary);
  color: color(primary);
  border-radius: 50%;
  z-index: 101001;
  transition: ease all 0.3s;
  background-color: white;
}
