.vhec-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1010;
  background-color: rgba($color: #000000, $alpha: 0.15);
  padding: 18px 0 12px 0;
  transition: ease all 0.3s;
  &.bg-primary {
    background-color: color(primary-dark) !important;
    transition: ease all 0.3s;
  }
  &__detail {
    display: flex;
    align-items: center;
    .logo {
      img {
        @include respond-down(lg) {
          width: 85px;
        }
      }
    }
    .vhec-menu {
      display: flex;
      align-items: center;
      margin-left: auto;
      @include respond-down(lg) {
        display: none;
      }
      &__item {
        margin-right: 32px;
        padding-bottom: 8px;
        color: white;
        position: relative;
        a {
          color: white;
          text-decoration: none;
        }
        &::before {
          position: absolute;
          top: 100%;
          left: 25%;
          content: "";
          width: 50%;
          height: 0;
          border-radius: 4px;
          background-color: color(primary);
          transition: ease all 0.4s;
        }
        &:hover {
          cursor: pointer;
          &::before {
            height: 2px;
            background-color: color(primary);
          }
        }
        &.active {
          &::before {
            height: 2px;
            background-color: color(primary);
          }
        }
      }
    }
    .vhec-menu-mobile {
      display: none;
      @include respond-down(lg) {
        display: block;
      }
      .menu {
        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          background-color: transparent;
          i {
            color: white;
          }
          border: none;
          &:hover,
          &:focus {
            border: none;
            box-shadow: none;
            outline: none;
          }
        }
      }
      &__detail {
        position: fixed;
        width: 50vw;
        right: -100vw;
        top: 0;
        height: 100vh;
        transition: ease all 0.3s;
        background-color: white;
        padding: 16px;
        z-index: 101002;
        box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.15);
        .overlay {
          position: absolute;
          top: 0;
          right: -50vw;
          content: "";
          width: 50vw;
          height: 100vh;
          background-color: rgba($color: #000000, $alpha: 0.25);
          @include respond-down(sm) {
            width: 30vw;
          }
        }
        &.active {
          right: 0;
          .overlay {
            right: 50vw;
            @include respond-down(sm) {
              right: 70vw;
            }
          }
        }

        @include respond-down(sm) {
          width: 70vw;
        }
      }
      &__item {
        padding-bottom: 4px;
        color: black;
        position: relative;
        width: fit-content;
        margin-bottom: 32px;

        &::before {
          position: absolute;
          top: 100%;
          left: 0;
          content: "";
          width: 100%;
          height: 0;
          border-radius: 4px;
          background-color: color(primary);
          transition: ease all 0.4s;
        }
        &:hover {
          cursor: pointer;
          &::before {
            height: 2px;
            background-color: color(primary);
          }
        }
        &.active {
          color: color(primary);
          &::before {
            height: 2px;
            background-color: color(primary);
          }
        }
      }
    }
  }
}
.vhec-language {
  display: flex;
  align-items: flex-start;
  margin-top: -6px;
  @include respond-down(lg) {
    margin-left: auto;
    margin-right: 24px;
    margin-top: 0;
  }
  &__selected {
    padding-right: 12px;
    margin-right: 12px;
    color: white;
    opacity: 0.6;
    &:not(:last-child) {
      border-right: 1px solid rgba(256, 256, 256, 0.2);
    }
    img {
      width: 30px;
      height: 20px;
      border-radius: 4px;
      margin-right: 8px;
    }
    &:hover {
      cursor: pointer;
    }
    &.active {
      opacity: 1;
    }
  }
  &__selection {
    display: flex;
    align-items: flex-start;
    &:hover {
      cursor: pointer;
    }
    select {
      background-color: transparent;
      border: none;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
