.vhec-top {
  height: 100vh;
  width: 100%;
  background-color: color(primary-dark);
  position: relative;

  @include respond-up(xxl) {
    height: 100vh;
  }
  @include respond-down(xl) {
    height: 100vh;
  }
  @include respond-down(md) {
    height: 70vh;
  }
  @include respond-down(sm) {
    height: 80vh;
  }
  overflow: hidden;
  .bg-bottom {
    position: absolute;
    bottom: 42px;
    transform: scale(1.4);
    opacity: 0.5;
    z-index: 2;
    @include respond-down(md) {
      opacity: 0.8;
    }
  }
  .bg-right {
    position: absolute;
    right: 100px;
    width: 540px;
    height: 440px;
    top: calc(100% / 2 - 260px);
    z-index: 0;
    @include respond-down(lg) {
      width: 440px;
      height: 440px;
      right: 40px;
      top: calc(100% / 2 - 220px);
    }
    @include respond-down(sm) {
      width: 100vw;
      right: 0;
    }
  }
  .bg-earth-right {
    position: absolute;
    width: 265px;
    height: 265px;
    right: 236px;
    top: calc(50% - 260px);
    animation-name: widthLine;
    animation-duration: 60s;
    animation-iteration-count: infinite;
  }
  &__info {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    @include respond-down(md) {
      height: 70vh;
    }
    @include respond-down(sm) {
      height: 80vh;
    }
    &__detail {
      position: absolute;
      left: 0;
      width: 50%;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 1000;
      @include respond-down(lg) {
        width: 100%;
      }
      @include respond-down(sm) {
        text-align: center;
      }
      .content {
        margin-bottom: 32px;
        .top {
          display: flex;
        }
        h1 {
          line-height: 32px;
          @include respond-down(sm) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
          }
          span {
            display: table-cell;
            padding-right: 12px;
            color: white;
            font-weight: 600;
            font-size: 36px;
            &::first-letter {
              text-decoration: underline;
            }
            @include respond-down(sm) {
              font-size: 32px;
              margin-bottom: 24px;
            }
          }
        }
      }
      .description {
        h2 {
          color: white;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 40px;
        }
      }
    }
    .info__right {
      padding: 16px;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      margin-left: auto;
      margin-top: auto;
      width: 450px;
      height: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 112, 245, 0.05);
      transform: translateY(-50%);
      z-index: 1000;
      @include respond-down(lg) {
        display: none;
      }
      .circle-line {
        animation-name: widthLine;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        position: absolute;
      }

      .wave {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        top: calc((450px - 100px) / 2);
        left: calc((450px - 100px) / 2);
        background-color: rgba(0, 112, 245, 0.2);
        -webkit-animation-name: wave;
        animation-name: wave;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
      }
      .list-domain {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .text-center {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 80px;
          padding: 8px;
          border-radius: 50%;
          background-color: color(primary);
          color: white;
          position: relative;
          font-size: 22px;
          font-weight: 600;
          @include respond-down(sm) {
            padding: 14px;
          }
        }
        .item {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 18px;
          img {
            background-color: color(primary);
            padding: 4px;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.02);
            @include respond-down(sm) {
              width: 50px;
              height: 50px;
            }
          }

          &:nth-child(2) {
            top: 10%;
            left: 16%;
            @include respond-down(sm) {
              transform: translate(-140px, -80px);
            }
          }
          &:nth-child(3) {
            top: 53%;
            left: 3%;
            @include respond-down(sm) {
              transform: translate(-140px, 120px);
            }
          }
          &:nth-child(4) {
            top: 14%;
            right: 10%;
            @include respond-down(sm) {
              transform: translate(140px, -80px);
            }
          }
          &:nth-child(5) {
            top: 56%;
            right: 3%;
            @include respond-down(sm) {
              transform: translate(140px, 120px);
            }
          }
          &:nth-child(6) {
            top: calc(100% - 80px);
            left: calc(47% - 40px);
            @include respond-down(sm) {
              transform: translate(0, 230px);
            }
          }
        }
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    @include respond-down(sm) {
      justify-content: center;
    }
    button {
      margin-right: 12px;
      width: 132px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
