/* ==========================================================================
   # START VARIABLE SETTING
   ==========================================================================
*/
//Begin variable root
$font-heading: "Nunito", sans-serif;
$font-content: "Nunito", sans-serif;

$colors: (
  background-body: #fafafa,
  primary: #007bfc,
  primary-hover: "#3a3af8",
  primary-dark: #111133,
  text-primary: #002a41,
  text-secondary: "#565656",
  text-grey: #97a2b7,
  text-dark: #16243d,
  vh-white: "#ffffff",
);
$colors-dark: (
  background-body: #fafafa,
  primary: #007bfc,
  text-primary: #002a41,
);

$paddings: (
  left-layout: (
    xs: 24px,
    sm: 24px,
    lg: 24px,
    xl: 24px,
  ),
  right-layout: (
    xs: 24px,
    sm: 24px,
    lg: 24px,
    xl: 30px,
  ),
);
$widths: (
  sidebar: (
    xs: 268px,
    sm: 180px,
    lg: 240px,
    xl: 268px,
  ),
);
$heights: (
  header: (
    xs: 60px,
    sm: 60px,
    lg: 80px,
    xl: 92px,
  ),
);

:root {
  /*Begin color*/
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }

  /*End color*/
  /*Begin width*/
  @each $name, $width in $widths {
    // maps require a second loop
    @if type-of($width) == "map" {
      // each item in sub map
      @each $subname, $sub-width in $width {
        // --z-index-viewport-md
        --width-#{$name}-#{$subname}: #{$sub-width};
      }

      // top-level z-indexs
    } @else if type-of($width) == "number" {
      // --z-index-background
      --width-#{$name}: #{$width};
    }
  }

  /*End width*/
  /*Begin padding*/
  @each $name, $padding in $paddings {
    // maps require a second loop
    @if type-of($padding) == "map" {
      // each item in sub map
      @each $subname, $sub-padding in $padding {
        // --z-index-viewport-md
        --padding-#{$name}-#{$subname}: #{$sub-padding};
      }

      // top-level z-indexs
    } @else if type-of($padding) == "number" {
      // --z-index-background
      --padding-#{$name}: #{$padding};
    }
  }

  /*End padding*/
  /*Begin width*/
  @each $name, $width in $widths {
    // maps require a second loop
    @if type-of($width) == "map" {
      // each item in sub map
      @each $subname, $sub-width in $width {
        // --z-index-viewport-md
        --width-#{$name}-#{$subname}: #{$sub-width};
      }

      // top-level z-indexs
    } @else if type-of($width) == "number" {
      // --z-index-background
      --width-#{$name}: #{$width};
    }
  }

  /*End width*/

  /*Begin height*/
  @each $name, $height in $heights {
    // maps require a second loop
    @if type-of($height) == "map" {
      // each item in sub map
      @each $subname, $sub-height in $height {
        // --z-index-viewport-md
        --height-#{$name}-#{$subname}: #{$sub-height};
      }

      // top-level z-indexs
    } @else if type-of($height) == "number" {
      // --z-index-background
      --height-#{$name}: #{$height};
    }
  }

  /*End height*/
}

[data-theme="dark"] {
  @each $name, $color in $colors-dark {
    --color-#{$name}: #{$color};
  }
}

//End variable root
/* ==========================================================================
   # END VARIABLE SETTING
   ==========================================================================
*/
