/* ==========================================================================
   # START DEFAULT SETTING
   ==========================================================================
*/
* {
  outline: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  word-break: break-word;
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
  font: {
    size: 1.4rem;
    weight: 400;
  }

  line-height: 2.1rem;
  overflow-x: hidden;
  @include set-font(1.4rem, 400, 2.1rem, color(text-content));
  color: #000000;

  &::-webkit-scrollbar {
    width: 0.8rem;

    &:horizontal {
      height: 0.8rem;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 1.4rem;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

button {
  &:focus {
    outline: none;
  }
}

/* ==========================================================================
   # END DEFAULT SETTING
   ==========================================================================
*/
