.vhec-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 9px 24px;
  transition: ease all 0.3s;
  &--primary {
    color: white;
    background-color: color(primary);
    border: 1px solid color(primary);
    &:hover {
      background-color: color(primary-hover);
      border: 1px solid color(primary-hover);
    }
  }
  &--white-primary {
    color: color(primary);
    background-color: white;
    border: 1px solid white;
    &:hover {
      background-color: #e2e2e2;
      border: 1px solid #e2e2e2;
    }
  }
}
