.vhec-form {
  .form-item {
    margin-bottom: 12px;
    &.range {
      .form-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        span {
          font-weight: 500;
          color: color(text-dark);
        }
      }
    }
  }
  .vhec-input {
    height: 60px;
    width: 100%;
    background-color: #f2f5f9;
    padding: 0 30px;
    border-radius: 6px;
    border: none;
  }
  .vhec-select {
    height: 60px;
    width: 100%;
    background-color: #f2f5f9;
    padding: 0 30px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    background-position: right 24px center;
    &:focus,
    &:hover {
      box-shadow: none;
      outline: none;
    }
  }
}
