.accordion-help {
  border-radius: 6px;
  @include respond-down(md) {
    margin-top: 24px;
  }
  .accordion-item {
    border: 1px solid #dadada;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:first-of-type {
      //   .accordion-button {
      //     border-radius: 6px 6px 0 0;
      //   }
    }
    &:last-of-type {
      .accordion-button.collapsed {
        border-radius: 6px;
      }
    }

    .accordion-button {
      border-radius: 6px;
      font-size: 16px;
      font-weight: 500;
      color: color(text-dark);
      padding: 14px;
      .icon {
        position: relative;
        height: 37px;
        width: 37px;
        background-color: color(primary);
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        line-height: 37px;
        color: color(vh-white);
        margin-right: 10px;
      }
      &::after {
        content: "\f107";
        font-family: "FontAwesome";
        background: none;
      }
      &:not(.collapsed) {
        border-radius: 6px 6px 0 0;
        color: color(primary);
        background-color: color(vh-white);
        box-shadow: none;
        border-bottom: 1px solid #dadada;
      }
      &:focus,
      &:hover {
        outline: none;
        box-shadow: none;
      }
    }
    .accordion-body {
      color: color(text-grey);
    }
  }
}
