.vhec-slide-index {
  .owl-carousel {
    padding: 32px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 30px #eaecee;
  }

  .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
    width: 30px;
    height: 30px;
    border: 1px solid color(primary) !important;
    border-radius: 50%;
    background-color: white !important;
    span {
      font-size: 22px;
      color: color(primary);
    }
  }
  .owl-nav button.owl-prev {
    left: 32px;
  }
  .owl-nav button.owl-next {
    right: 32px;
  }

  .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .owl-nav button:focus {
    outline: none;
  }
}

#testimonials-slide {
  padding-right: 32px;
  @include respond-down(md) {
    padding-right: 0;
  }
  .owl-item {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 500ms ease;
    &.active {
      opacity: 1;
      visibility: inherit;
    }
  }
  .owl-stage-outer {
    overflow: visible;
  }

  .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
    width: 30px;
    height: 30px;
    border: 1px solid color(primary) !important;
    border-radius: 50%;
    background-color: white !important;
    span {
      font-size: 22px;
      color: color(primary);
    }
  }
  .owl-nav button.owl-prev {
    left: 32px;
  }
  .owl-nav button.owl-next {
    right: 32px;
  }

  .owl-dots {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 6px;
    background-color: transparent;
    height: calc(100% - 32px);
    justify-content: center;
    @include respond-down(md) {
      position: relative;
      flex-direction: row;
    }
  }
  .owl-dots button.owl-dot {
    width: 10px;
    height: 80px;
    border-radius: 0;
    display: inline-block;
    background: white;
    margin: 0;
    @include respond-down(md) {
      width: 50px;
      height: 10px;
      background-color: #ccc;
      border-radius: 12px;
      margin-right: 6px;
    }
    &:first-child {
      border-radius: 6px 6px 0 0;
      @include respond-down(md) {
        border-radius: 6px;
      }
    }
    &:last-child {
      border-radius: 0 0 6px 6px;
      @include respond-down(md) {
        border-radius: 6px;
      }
    }
  }
  .owl-dots button.owl-dot.active {
    background-color: color(primary);
    border-radius: 6px !important;
  }
  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .owl-nav button:focus {
    outline: none;
  }
}
