.section-title {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 54px;
  margin-bottom: 54px;
  @include respond-down(sm) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  &__detail {
    padding-top: 30px;
    padding-bottom: 75px;
    background-image: url("../images/icon-header-page.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 100%;
    background-position-y: 2px;

    h2 {
      background-color: #fafafa;
      font-size: 42px;
      font-weight: 700;
      @include respond-down(sm) {
        font-size: 32px;
      }
    }
  }
  &.dark {
    .section-title__detail {
      background-image: url("../images/icon-header-page-dark.svg");

      h2 {
        background-color: #0e0e29;
        color: white;
        @include respond-down(sm) {
          font-size: 32px;
        }
      }
    }
  }
  &.transparent {
    .section-title__detail {
      background-image: url("../images/icon-header-page.svg");

      h2 {
        position: relative;
        background-color: transparent;
        z-index: 1;
      }
    }
  }
}
// Block 1
.vhec-the-number {
  padding-bottom: 160px;
  background-image: url("../images/background-the-number-primary.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  @include respond-down(lg) {
    padding-bottom: 60px;
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 24px;
    padding-left: 24px;
    color: #002a41;
    @include respond-down(sm) {
      padding-left: 0;
      text-align: center;
      margin-bottom: 12px;
    }
  }
  &__description {
    font-size: 16px;
    color: color(text-secondary);
    margin-bottom: 16px;
    line-height: 26px;
    @include respond-down(sm) {
      text-align: center;
    }
  }
  &__list {
    margin: 0;
    background-image: url("../images/background-the-number-left.svg");
    background-repeat: no-repeat;
    background-position-y: 64px;

    @include respond-down(lg) {
      display: flex;
      flex-direction: column;
    }
    @include respond-down(md) {
      margin-bottom: 24px;
      flex-direction: row;
      justify-content: space-between;
    }
    @include respond-down(sm) {
      flex-direction: column;
      background-size: 100%;
    }
  }
  &__item {
    margin-bottom: 16px;
    @include respond-down(sm) {
      text-align: center;
    }
    .number {
      font-weight: 700;
      font-size: 48px;
      line-height: 72px;
      color: color(primary);
    }
    .text {
      font-weight: 400;
      font-size: 32px;
      line-height: 48px;
    }
  }
  &__images {
    .list-img {
      margin-bottom: 40px;
      padding: 20px;
      position: relative;
      width: 100%;
      height: 366px;
      &::before {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: white;
        border-radius: 3px;
        width: 100%;
        height: 100%;
        z-index: 1;
        content: "";
      }

      img {
        border-radius: 6px;
        width: 100%;
        height: 100%;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }
    .description {
      font-size: 16px;
      text-align: right;
      line-height: 26.5px;
      @include respond-down(sm) {
        text-align: center;
      }
    }
  }
}

// Block 2
.vhec-domain {
  &__top {
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    @include respond-down(sm) {
      flex-direction: column;
      margin: 0;
    }
    &__item {
      padding: 18px 36px;
      box-shadow: 0px 4px 20px #f0f2f3;
      background-color: white;
      border-radius: 6px;
      margin-left: 10px;
      margin-right: 10px;
      width: 40%;
      &:first-child,
      &:last-child {
        width: 30%;
      }
      @include respond-down(sm) {
        width: 100% !important;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
      }
      .icon {
        width: 49px;
        height: 49px;
        object-fit: cover;
        margin-right: 40px;
      }
      span {
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
  &__detail {
    padding-top: 300px;
    padding-bottom: 300px;
    position: relative;
    // &::before {
    //   position: absolute;
    //   top: 0;
    //   left: calc(50% - 0.5px);
    //   content: "";
    //   border-left: 1px dashed color(primary);
    //   height: 300px;
    //   z-index: 1;
    // }
    @include respond-down(sm) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    .rocket {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      animation-name: rocket;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      z-index: 2;
      @include respond-down(sm) {
        width: 70px;
        top: 83%;
      }
    }
    .list-domain {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .earth-2 {
        padding: 16px;
        border-radius: 50%;
        background-color: rgba(221, 228, 235, 0.5);
        position: relative;
        @include respond-down(sm) {
          padding: 14px;
        }
        img {
          width: 245px;
          height: 245px;
          animation-name: widthLine;
          animation-duration: 120s;
          animation-iteration-count: infinite;
          @include respond-down(sm) {
            width: 80px;
            height: 80px;
          }
        }
      }
      .item {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        img {
          background-color: white;
          padding: 4px;
          border-radius: 50%;
          width: 110px;
          height: 110px;
          margin-bottom: 10px;
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.02);
          @include respond-down(sm) {
            width: 50px;
            height: 50px;
          }
        }
        &::before {
          position: absolute;
          border: 0.5px dashed #d9d9d9;
          width: 142px;
          content: "";
          @include respond-down(sm) {
            width: 85px;
          }
        }

        &:nth-child(2) {
          transform: translate(-300px, -140px);
          @include respond-down(sm) {
            transform: translate(-140px, -80px);
          }
          &::before {
            top: 115px;
            left: 97px;
            transform: rotate(25deg);
            @include respond-down(sm) {
              top: 65px;
              left: 38px;
              transform: rotate(33deg);
            }
          }
        }
        &:nth-child(3) {
          transform: translate(-300px, 140px);
          @include respond-down(sm) {
            transform: translate(-140px, 120px);
          }
          &::before {
            top: 0px;
            left: 97px;
            width: 132px;
            transform: rotate(-25deg);
            @include respond-down(sm) {
              top: -20px;
              left: 36px;
              width: 93px;
              transform: rotate(-36deg);
            }
          }
        }
        &:nth-child(4) {
          transform: translate(300px, -140px);
          @include respond-down(sm) {
            transform: translate(140px, -80px);
          }
          &::before {
            top: 107px;
            left: -132px;
            transform: rotate(-25deg);
            @include respond-down(sm) {
              top: 62px;
              left: -69px;
              transform: rotate(-32deg);
            }
          }
        }
        &:nth-child(5) {
          transform: translate(300px, 140px);
          @include respond-down(sm) {
            transform: translate(140px, 120px);
          }
          &::before {
            top: 2px;
            left: -102px;
            width: 117px;
            transform: rotate(25deg);
            @include respond-down(sm) {
              top: -18px;
              left: -47px;
              width: 90px;
              transform: rotate(35deg);
            }
          }
        }
        &:nth-child(6) {
          transform: translate(0, 320px);
          @include respond-down(sm) {
            transform: translate(0, 230px);
          }
          &::before {
            top: -55px;
            left: -0;
            width: 110px;
            transform: rotate(90deg);
            @include respond-down(sm) {
              top: -67px;
              left: -40px;
              width: 130px;
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
}

// Block 3
.vhec-technology {
  margin-top: 80px;
  padding-top: 54px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  .block-technology {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 36px 24px;
    border: 1px solid #24488c;
    border-radius: 10px;
    text-align: center;
    height: 390px;
    @include respond-down(lg) {
      margin-bottom: 12px;
    }
    .icon-title {
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }
    .title {
      font-size: 22px;
      font-weight: 700;
      color: white;
      margin-bottom: 16px;
      margin-top: 8px;
    }
    .description {
      color: white;
      line-height: 21px;
    }
    .list-tech {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-top: 32px;
      &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 3);
        margin-bottom: 12px;
        img {
          width: auto;
          object-fit: cover;
        }
      }
    }
  }
  &__flow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    .flow-title {
      font-weight: 400;
      font-size: 32px;
      line-height: 48px;
      color: #ffffff;
      margin-bottom: 24px;
    }
    .flow-list {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      @include respond-down(sm) {
        flex-wrap: wrap;
        justify-content: center;
      }
      &__item {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        margin: 0 8px;
        @include respond-down(sm) {
          margin-bottom: 12px;
        }
      }
    }
    .vhec-btn {
      width: 130px;
    }
  }
}

// Block 4
.vhec-japan {
  margin-top: 54px;
  padding-top: 72px;
  background-repeat: no-repeat;
  &__proficiency {
    margin-left: 16px;
    background-repeat: no-repeat;
    padding: 74px 65px 120px 34px;
    background-size: cover;
    border-radius: 6px;
    @include respond-down(sm) {
      margin-left: 0;
      background-size: 100%;
      padding-bottom: 42px;
    }
    .title {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: white;
      margin-bottom: 36px;
    }
    .list-proficiency {
      padding-left: 24px;
      &__item {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        color: white;
        font-weight: 700;
        font-size: 16px;
        img {
          margin-right: 12px;
        }
      }
    }
  }
  &__detail {
    padding-top: 42px;
    padding-left: 32px;
    @include respond-down(sm) {
      padding-left: 0;
    }
    .title {
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      margin-bottom: 16px;
    }
    .list-level {
      &__item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        span {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: #333333;
          display: flex;
          margin-right: 12px;
          white-space: nowrap;
        }
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #4f4f4f;
      }
    }
    .level__detail {
      &__item {
        margin-bottom: 16px;
        .text {
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;
          font-weight: 400;
          font-size: 16px;
        }
        .progress_bar {
          width: 100%;
          height: 12px;
          border-radius: 12px;
          box-shadow: 0px 2px 12px rgba(0, 123, 252, 0.16);
          position: relative;
          .active {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #9eb8e0;
            border-radius: 12px;
          }
        }
      }
    }
  }
}

.vhec-slide {
  margin-top: 54px;
  &__item {
    img {
      height: 60px;
      object-fit: none;
    }
  }
}
.vhec-contact {
  padding-bottom: 120px;
  text-align: center;
  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: color(primary);
  }
  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
  }
  .vhec-btn {
    margin: 0 auto;
  }
}
.row > * {
  @include respond-down(sm) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
