.vhec-top {
  &__service {
    height: 100%;
    .info {
      position: relative;
      background-size: cover;
      height: 70vh;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      @include respond-down(lg) {
        height: 40vh;
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        content: "";
        z-index: 0;
      }
      .title {
        color: white;
        font-size: 42px;
        font-weight: 700;
        z-index: 2;
        text-align: center;
        line-height: 72px;
        @include respond-down(lg) {
          font-size: 32px;
          line-height: 52px;
        }
      }
    }
  }
}
.sub-title-common {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  .title-icon {
    margin-top: -3px;
    height: 12px;
  }
  .icon-left {
    margin-right: 12px;
  }
  .icon-right {
    transform: rotate(180deg);
    margin-left: 12px;
  }
  h2 {
    font-size: 16px;
    color: color(text-dark);
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 3px;
  }
  &.white {
    h2 {
      color: white;
    }
  }
  &.grey {
    h2 {
      color: #97a2b7;
    }
  }
}

.vhec-service {
  &__top {
    padding: 72px 0;
    @include respond-down(lg) {
      padding: 32px 0;
    }
    .row {
      --bs-gutter-x: 2.5rem;
    }

    .service-top {
      &__item-link {
        text-decoration: none;
      }
      &__item {
        border-radius: 10px;
        transition: ease all 0.7s;
        @include respond-down(lg) {
          margin-bottom: 16px;
        }
        .box-image {
          width: 100%;
          height: 270px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
            transition: ease all 0.7s;
          }
        }
        .bottom {
          margin-top: -55px;
          position: relative;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
          margin-right: 70px;
          border-radius: 0 10px 10px 10px;
          z-index: 1;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            content: "";
            background-color: color(primary);
            border-radius: 0 10px 10px 10px;
            transition: ease all 0.7s;
          }
          .title {
            padding-left: 20px;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
            transition: all 700ms ease;
            color: color(text-dark);
            z-index: 1;
            position: relative;
            @include respond-down(lg) {
              font-size: 16px;
            }
            &::before {
              position: absolute;
              content: "";
              top: 1px;
              bottom: -2px;
              left: 0;
              width: 2px;
              background-color: rgba(0255, 255, 255, 0.1);
              transform: scaleY(0);
              -webkit-transition: all 500ms ease;
              transition: all 500ms ease;
            }
          }
          .icon {
            position: relative;
            display: flex;
            align-items: center;
            max-width: 84px;
            width: 100%;
            min-height: 100px;
            justify-content: center;
            border-bottom-left-radius: 10px;
            background-color: color(primary);
            object-fit: cover;
            img {
              width: 42px;
              object-fit: cover;
            }
          }
        }
        &:hover {
          transform: translateY(-10px);
          .bottom {
            .title {
              color: white;
              &::before {
                transform: scaleY(1);
                transition-delay: 700ms;
              }
            }
            &::before {
              width: 100%;
              border-radius: 0 10px 10px 10px;
              transition: ease all 0.7s;
              z-index: 0;
            }
          }
        }
      }
    }
  }
  &__about-company {
    padding-bottom: 72px;
    @include respond-down(md) {
      padding-bottom: 32px;
    }
    .info {
      @include respond-down(lg) {
        margin-bottom: 32px;
      }
      .title {
        margin: 0;
        color: color(text-dark);
        font-size: 45px;
        line-height: 55px;
        font-weight: 600;
      }
      .description {
        margin-top: 40px;
        margin-bottom: 40px;
        color: color(text-secondary);
        font-size: 18px;
        line-height: 30px;
      }
      .list-detail {
        margin-bottom: 40px;
        .item {
          margin-top: 12px;
          img {
            margin-right: 12px;
            width: 20px;
          }
          span {
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
      button {
        padding: 12px 42px;
      }
    }
    .box-images {
      position: relative;
      @include respond-down(lg) {
        display: flex;
        justify-content: flex-end;
      }
      .img-primary {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 10px;
        @include respond-down(md) {
          height: 380px;
          width: 100%;
        }
      }
      .dots {
        position: absolute;
        bottom: 225px;
        left: -80px;
        z-index: -1;
        opacity: 0.2;
        -webkit-animation-name: float-bob-y;
        animation-name: float-bob-y;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        @include respond-down(lg) {
          left: 0;
        }
        @include respond-down(md) {
          z-index: 1;
        }
      }
      &__awards-box {
        position: absolute;
        bottom: 45px;
        left: -150px;
        background-color: white;
        box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        padding: 15px;
        z-index: 1;
        min-width: 300px;
        @include respond-down(lg) {
          left: 40px;
        }
        @include respond-down(md) {
          bottom: 0;
          left: 12px;
        }
        &::before {
          position: absolute;
          bottom: -46px;
          left: 70px;
          content: "";
          background-image: url("../images/about-two-awards-shape-1.png");
          background-repeat: no-repeat;
          width: 73px;
          height: 46px;
          z-index: -1;
        }
        .inner {
          position: relative;
          display: block;
          background-color: color(primary-dark);
          border: 4px solid color(primary);
          border-radius: 20px;
          padding-top: 17px;
          padding-bottom: 20px;
          padding-left: 25px;
          padding-right: 40px;
          overflow: hidden;
          .year {
            font-size: 72px;
            color: white;
            font-weight: 700;
            line-height: 72px;
          }
          .content {
            font-size: 20px;
            color: white;
            font-weight: 700;
            line-height: 23px;
          }
          .shape {
            position: absolute;
            top: -36px;
            right: -38px;
            img {
              width: auto;
            }
          }
        }
      }
    }
    .info-number {
      @include respond-down(md) {
        margin-top: 24px;
      }
      &__item {
        padding-bottom: 33px;
        margin-bottom: 32px;
        position: relative;
        text-align: right;
        @include respond-down(md) {
          padding-bottom: 16px;
          margin-bottom: 16px;
          text-align: center;
        }
        &:not(:last-child) {
          &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 14px;
            right: 0;
            background-color: #e0e4e8;
            height: 2px;
            @include respond-down(md) {
              left: 0;
            }
          }
        }
        .number {
          font-size: 48px;
          font-weight: 700;
          line-height: 48px;
          color: color(primary);
        }
        .number-title {
          font-size: 20px;
          color: color(text-dark);
          font-weight: 700;
          line-height: 24px;
          margin-top: 15px;
          margin-bottom: 4px;
        }
        .number-description {
          font-size: 15px;
          line-height: 28px;
          color: color(text-secondary);
        }
      }
    }
  }
  &__our-service {
    padding: 72px;
    background-color: #242446;
    @include respond-down(md) {
      padding: 16px 0;
    }
    .row {
      --bs-gutter-x: 2.5rem;
    }
    .our-top {
      display: flex;
      align-items: center;
      margin-bottom: 52px;
      @include respond-down(md) {
        flex-direction: column;
        align-items: flex-start;
      }
      .left {
        width: 50%;
        @include respond-down(md) {
          width: 100%;
        }
      }
      .description {
        padding-left: 70px;
        font-size: 18px;
        color: #97a2b7;
        line-height: 30px;
        flex: 1;
        @include respond-down(md) {
          padding-left: 0;
          margin-top: 24px;
        }
      }
    }
    .our-service {
      &__item {
        height: 100%;
        padding-bottom: 24px;
      }
      &__inner {
        background-color: #1b1b3f;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 35px 33px;
        transition: all 500ms ease;
        border-radius: 10px;
        height: 100%;
        .box-icon {
          position: relative;
          &::before {
            position: absolute;
            content: "";
            bottom: -12px;
            left: 50%;
            height: 4px;
            width: 40px;
            background-color: color(primary-dark);
            transform: translateX(-50%);
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
          }
          .icon {
            position: relative;
            height: 85px;
            width: 85px;
            background-color: #0e0e29;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 auto;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            z-index: 1;
            overflow: hidden;

            &::after {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 100%;
              content: "";
              background-image: linear-gradient(
                0deg,
                color(primary) 0%,
                #0cdefe 100%
              );
              border-radius: 50%;
              @include css-transition(0.1s, ease-in-out, 0.5s);
              opacity: 0;
              -webkit-transform-origin: top;
              transform-origin: top;
              -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
              -webkit-transform: scaleY(0);
              transform: scaleY(0);
              z-index: -1;
            }
            .item-icon {
              position: relative;
              display: inline-block;
              font-size: 36px;
              &::before {
                // background: -webkit-gradient(
                //   linear,
                //   left bottom,
                //   right top,
                //   from(color(primary)),
                //   to(#0cdefe)
                // );
                background-image: -webkit-linear-gradient(
                  0deg,
                  color(primary) 0%,
                  #0cdefe 100%
                );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: initial; /* reset Font Awesome's display:inline-block */
              }
            }
          }
        }

        .title {
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
          margin-top: 26px;
          margin-bottom: 10px;
          color: white;
          text-decoration: none;
          text-align: center;
        }
        .description {
          font-size: 14px;
          color: #97a2b7;
          line-height: 24px;
          text-align: center;
        }
        &:hover {
          border-bottom: 3px solid color(primary);
          transform: translateY(-10px);
          background-color: #1c1c56;
          .box-icon {
            .icon {
              i {
                &::before {
                  color: white;
                  background: none;
                  -webkit-text-fill-color: inherit;
                }
              }
              &::after {
                opacity: 1;
                -webkit-transform: scaleY(1);
                transform: scaleY(1);
              }
            }
          }
        }
      }
    }
  }
  &__help {
    padding: 72px 0;
    @include respond-down(md) {
      padding: 32px 0;
    }
    .row {
      --bs-gutter-x: 2.5rem;
    }

    .box-image-left {
      display: flex;
      align-items: center;
      margin-top: 24px;
      @include respond-down(md) {
        flex-direction: column;
      }
      img {
        border-radius: 6px;
      }
      .description {
        margin-left: 30px;
        font-weight: 500;
        line-height: 30px;
        color: color(text-grey);
        @include respond-down(md) {
          margin-top: 16px;
          margin-left: 0;
        }
      }
    }
    .text-progress {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;
      margin-bottom: 12px;
      & span {
        &:first-child {
          font-weight: 600;
        }
      }
    }
    .progress_bar {
      width: 100%;
      height: 14px;
      border-radius: 12px;
      box-shadow: 0 2px 12px rgba(0, 123, 252, 0.16);
      position: relative;
      .active {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: color(primary);
        border-radius: 12px;
      }
    }
  }
  &__cta {
    padding-bottom: 72px;
    @include respond-down(md) {
      padding-bottom: 32px;
    }
    .cta {
      &__content {
        position: relative;
        border-radius: 30px;
        box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
        padding: 15px;
      }
      &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: color(primary-dark);
        border-radius: 20px;
        border: 4px solid color(primary);
        padding: 51px 55px 51px;
        overflow: hidden;
        z-index: 1;
        @include respond-down(md) {
          flex-direction: column;
          padding: 24px;
          align-items: flex-start;
        }
        .title {
          font-size: 36px;
          font-weight: 600;
          color: color(vh-white);
          line-height: 36px;
          @include respond-down(md) {
            margin-bottom: 16px;
            font-size: 32px;
            line-height: 42px;
          }
        }
        .phone {
          display: flex;
          align-items: center;
          @include respond-down(md) {
            margin-top: 16px;
            flex-wrap: wrap;
          }
          .icon {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 2px solid color(primary);
            i {
              color: color(primary);
              font-size: 20px;
            }
          }
          &__detail {
            display: flex;
            flex-direction: column;
            margin-left: 12px;
            margin-right: 32px;
            span {
              color: color(text-grey);
              &:first-child {
                font-size: 16px;
                color: white;
                font-weight: 700;
              }
            }
          }
          button {
            padding: 17px 40px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 6px;
            @include respond-down(md) {
              width: 100%;
              margin-top: 12px;
            }
          }
        }
      }
      &__img {
        position: absolute;
        top: 0;
        left: 0;
        mix-blend-mode: luminosity;
        opacity: 0.1;
        z-index: -1;
      }
    }
  }
  &__insuracne {
    position: relative;
    padding: 120px 0;
    margin-bottom: 120px;
    @include respond-down(md) {
      padding: 16px 0;
      margin-bottom: 32px;
    }
    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 208px;
      right: 0;
      border: 1px solid #dfe3e7;
      background-color: #ffffff;
      box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
      content: "";
      border-top-left-radius: 377.5px;
      border-bottom-left-radius: 377.5px;
      z-index: -1;
      @include respond-down(lg) {
        left: 0;
        border-radius: 0;
      }
    }
    .left {
      position: relative;
      display: block;
      @include respond-down(lg) {
        display: none;
      }
      .shape-box {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        .shape-1 {
          position: absolute;
          top: -44px;
          bottom: -42px;
          left: -200px;
          width: 820px;
          background-repeat: no-repeat;
          background-position: left center;
          background-size: cover;
          @include respond-down(xl) {
            left: -375px;
          }
        }
        .shape-2 {
          position: absolute;
          top: -34px;
          bottom: 0;
          left: -200px;
          mix-blend-mode: luminosity;
          opacity: 0.15;
        }
      }
      .box-img {
        position: relative;
        border-radius: 50%;
        margin-left: 36px;
        @include respond-down(xl) {
          margin-left: -139px;
        }
        img {
          border-radius: 50%;
        }
      }
    }
    .vhec-form {
      width: 80%;
      @include respond-down(md) {
        width: 100%;
      }
    }
  }
  &__process {
    padding-bottom: 72px;
    .process {
      &__inner {
        position: relative;
        display: block;
        counter-reset: count;
        @include respond-down(md) {
          margin-top: 48px;
        }
      }
      &-shape-1 {
        position: absolute;
        top: 0;
        left: 135px;
        width: calc(100% - 270px);
        @include respond-down(md) {
          display: none;
        }
        img {
          width: 100%;
        }
      }
      &__single {
        position: relative;
        display: block;
        text-align: center;
        padding: 0 40px 0;
        margin-bottom: 22px;
        @include respond-down(lg) {
          padding: 0 20px;
        }
        @include respond-down(md) {
          margin-bottom: 32px;
          padding: 0;
        }
        &:hover {
          .process {
            &__icon {
              &::before {
                transform: scaleX(1);
              }
              i {
                color: white;
              }
            }
            &__count {
              background-color: color(primary-dark);
            }
          }
        }
      }
      &__icon-box {
        position: relative;
        display: block;
        height: 150px;
        width: 150px;
        margin: 0 auto;
      }
      &__icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-style: solid;
        border-width: 1px;
        border-color: #dfe3e7;
        border-radius: 50%;
        background-color: white;
        box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.1);
        height: 148px;
        width: 148px;
        margin: 0 auto;
        z-index: 1;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: "";
          border-radius: 50%;
          background-color: color(primary);
          transform: scale(0);
          transform-origin: center;
          transform-style: preserve-3d;
          transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
          z-index: -1;
        }
        i {
          font-size: 44px;
          color: color(primary);
        }
      }
      &__count {
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: color(primary);
        z-index: 2;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
      }
      &__content {
        position: relative;
        display: block;
        margin-top: 21px;
      }
      &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: color(text-dark);
        margin-bottom: 7px;
      }
      &__text {
        font-size: 15px;
        color: color(text-grey);
      }
      &__single-2 {
        margin-top: 100px;
        @include respond-down(md) {
          margin-top: 0;
        }
        .process__count {
          bottom: 0;
          right: 0;
          top: auto;
          left: auto;
        }
      }
      &__single-3 {
        margin-top: 50px;
        @include respond-down(md) {
          margin-top: 0;
        }
      }
      &__single-4 {
        .process__count {
          bottom: 0;
          right: 0;
          top: auto;
          left: auto;
        }
      }
    }
  }
  &__testimonials {
    padding: 120px 0 90px 0;
    position: relative;
    @include respond-down(lg) {
      padding: 120px;
    }
    @include respond-down(md) {
      padding: 16px 0;
    }
    .background-img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 1432px;
      mix-blend-mode: luminosity;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: cover;
      opacity: 0.3;
      z-index: -1;
    }

    .info {
      .description {
        font-size: 18px;
        line-height: 30px;
        margin-top: 32px;
        color: color(text-grey);
      }
      &__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;
      }
      &__item {
        padding-left: 12px;
        padding-right: 12px;
        display: flex;
        align-items: center;
        margin-top: 32px;
        .icon {
          position: relative;
          height: 43px;
          width: 43px;
          background-color: white;
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 15px;
          color: color(primary);
          -webkit-transition: all 500ms ease;
          transition: all 500ms ease;
          margin-right: 14px;
        }
        span {
          font-size: 16px;
          color: color(text-dark);
          font-weight: 500;
          line-height: 26px;
          flex: 1;
        }
        &:hover {
          .icon {
            background-color: color(primary);
            color: white;
          }
        }
      }
    }
    .testimonials-slide {
      position: relative;
      display: block;
      margin-left: 20px;
      @include respond-down(lg) {
        margin-left: 0;
        margin-top: 32px;
      }

      &__single {
        position: relative;
        display: block;
        background-color: white;
        box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.05);
        border-radius: 0 20px 20px 20px;
        margin-bottom: 30px;

        &::before {
          position: absolute;
          top: 0;
          left: -39px;
          content: "";
          border-top: 0px solid transparent;
          border-right: 40px solid #fff;
          border-bottom: 40px solid transparent;
          box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.05);
          @include respond-down(md) {
            left: -17px;
          }
        }
        .inner {
          position: relative;
          display: block;
          overflow: hidden;
          padding: 42px 24px 26px 24px;
          background-color: white;
          border-top-right-radius: 20px;
          z-index: 1;
          .shape-top {
            position: absolute;
            top: -20px;
            right: 0;
            mix-blend-mode: luminosity;
            opacity: 0.1;
            z-index: 2;
          }
          .top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .title {
              font-size: 24px;
              font-weight: 600;
              line-height: 34px;
              margin-bottom: 2px;
              color: color(text-dark);
            }
            .rate {
              i {
                color: orange;
                &.active {
                  color: orange;
                }
              }
            }
          }
          .center {
            display: flex;
            align-items: flex-start;
            margin-top: 24px;
            width: calc(100% - 180px);
            @include respond-down(md) {
              width: 100%;
            }
            .text {
              font-size: 18px;
              line-height: 30px;
              color: color(text-secondary);
              flex: 1;
            }
          }
        }
        .box-img {
          position: absolute;
          bottom: 20px;
          right: 30px;
          height: 150px;
          width: 150px;
          border-radius: 50%;
          background-color: white;
          padding: 10px;
          z-index: 1;
          @include respond-down(md) {
            width: 100px;
            height: 100px;
            bottom: 24px;
            right: auto;
            left: 32px;
          }
          .img-detail {
            position: relative;
            display: block;
            width: 131px;
            height: 131px;
            padding: 6px;
            border-radius: 50%;
            background-image: linear-gradient(
              0deg,
              color(primary) 0%,
              #0cdefe 100%
            );
            @include respond-down(md) {
              width: 80px;
              height: 80px;
            }
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              padding: 6px;
              background-color: white;
            }
          }
        }
        .founder-box {
          position: relative;
          display: block;
          box-shadow: 0px 10px 60px 0 rgba(0, 0, 0, 0.05);
          background-color: color(primary);
          border-radius: 0 0 20px 20px;
          background-repeat: no-repeat;
          padding: 20px 32px;
          @include respond-down(md) {
            background-size: 0;
            height: 180px;
          }
          p {
            color: white;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
    }
  }
  &__news {
    padding: 72px 0;
    .row {
      --bs-gutter-x: 2.5rem;
    }

    .news {
      &__item {
        border-radius: 12px;
        border: 1px solid #dadada;
        background-color: white;
        margin-bottom: 16px;
        .box-img {
          position: relative;
          height: 270px;
          overflow: hidden;
          z-index: 1;
          border-radius: 10px 10px 0 0;
          &::before {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            background-color: rgba(0, 0, 0, 0.2);
            transition: opacity 500ms ease, visibility 500ms ease,
              transform 500ms ease, -webkit-transform 500ms ease;
            visibility: hidden;
            opacity: 0;
            transform: translateY(-70%);
            z-index: 1;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px 6px 0 0;
          }
        }
        &:hover {
          .box-img {
            &::before {
              visibility: visible;
              transform: translateY(0%);
              opacity: 1;
            }
          }
        }
      }
      &__inner {
        position: relative;
        display: block;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top: 0;
        padding: 33px 40px 40px;
        transition: all 500ms ease;
        .content {
          position: relative;
          .bussiness {
            position: absolute;
            top: -52px;
            right: -16px;
            box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
            padding: 10px 20px;
            background-color: white;
            border-radius: 12px;
            i {
              margin-right: 6px;
              font-size: 13px;
            }
            z-index: 2;
          }
          .title {
            font-size: 24px;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: 23px;
            color: color(text-dark);
            text-decoration: none;
          }
        }
      }
      &__author {
        display: flex;
        align-items: center;
        margin-top: 24px;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 3px solid color(primary);
        }
        .author-detail {
          margin-left: 16px;
          .name {
            color: color(text-grey);
          }
          .time {
            color: color(primary);
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.section__title {
  margin: 0;
  color: color(text-dark);
  font-size: 45px;
  line-height: 60px;
  font-weight: 600;
  &.white {
    color: white;
  }
  @include respond-down(md) {
    font-size: 36px;
    line-height: 48px;
  }
}
